/* containers */

.test{
    font-size: 40px;
    color: white;
}

html {
    min-height: 100vh;
}

body {
    min-height: 95vh;
}

.background {
    min-height: 95vh;
    min-width: 100%;
    background-image: url(../../../../media/mainbackground.jpg);
    position: absolute;
    background-size: cover;
}

.content {
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #3097D1;
    justify-content: left;
    width: 100%;
    min-height: 5vh;
    align-items: center;
}

.header_logo_container {
    margin-left: 7.5%;
    display: table-cell;
    vertical-align: middle;
}

/* buttons */

/* header */

.button {
    color: #D6E7ED;
}

.button:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

.header_home {
    margin-left: 2.5%;
}


.header_sign_in {
    margin-left: 40%;
}

.header_sign_up {
    margin-left: 2%;
    width: 80px;
}

/* content */

/* upload */

.upload_button_sign {
    padding-right: 0%;
}

/* logo */

.header_logo {
    color: #D6E7ED;
    font-size: 21px;
}

/* various controls */

.input_file_upload {
    display: none !important;
}

/* header */

.header_search {
    margin-left: 5%;
    max-width: 150px;
}