@model Microsoft.AspNetCore.Http.IFormFile


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="file-loaded">
        Your file has been loaded!
        Name: @Model.FileName
        Size: @Model.Length bytes.
    </div>
</body>
</html>
