@{
    Layout = null;
}

<html>
<head>
    <title>Filesharing site</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <center><h1>Test file share!</h1></center>
    <div id="file-entry-block">
            <h4>Please load the file from your computer:</h4>
            <button class="btn-standard">...</button>
    </div>
</body>
</html>
