@{
    Layout = null;
}

<html>
<head>
    <title>Filesharing site</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <center><h1>Test file share!</h1></center>
    <div id="file-entry-block">
            <h4>Please load the file from your computer:</h4>
                <input type="button" value="..."
                class="btn-standard" onclick="location.href='@Url.Action("LoadFile", "Home")'" />
    </div>
</body>
</html>
